*{
    font-family: 'Rubik';
}

body{
    background-color:#96c696;
}

.main-container{
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    border-radius:20px ;
    background-color: #D1D3C4;
    flex-direction: column;

}

.inputfeilds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 100%;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

label {
    display: block; /* Forces label to take full width and stay above the input */
    margin-bottom: 5px; 
    font-weight: bold;
}

#submit{
    width: 50%;
    height: 50px;
    font-family: 'rubik';
    font-size: 1rem;
    border-radius: 20px;
    border: 2px solid black;
}

#submit:hover{
    background-color: #96c696;
}

input[type="text"],
input[type="number"]{
    width: 90%;
    max-width: 400px; /* Prevents overly large inputs on wide screens */
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    border: 2px solid black;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border: 3px solid #96c696;
}

.item{
    border:2px solid black;
    display: block;
    width: 90%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    overflow: auto;
    margin-bottom: 10px;
    background-color: white;
}

.deleteButton{
    font-weight: 500;
    font-size: larger;
    color: white;
    background-color: red;
    border-radius: 50px;
    width: 10%;
    height: auto;
    border-color: red;
    text-align: center; 
}

#saveicon{
    border-radius: 20px;
    width: 20%;
    height: 20%;
    border: 2px solid black;
}

.search-bar{
    display: flex;
    align-items: center; 
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
}

.search{
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 8px;
    border-radius: 28px;
    background-color: white;
    margin-bottom: 20px;
}
.search:focus-within{
    border-color: #96c696;
}
.search-icon{
    background: transparent;
    border: none;
}

.search-input{
     width: 100%;
    border: none;
    background: transparent;
    font-size: 0.9rem;
}
.search-input:focus{
    outline: none;
}

@media (max-width: 600px) {
    input[type="text"],
    input[type="number"],
    #submit {
        width: 100%; /* Use full width on small screens */
    }

    .search-input{
        font-size: 1rem;
    }
}


